<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {%include 'admin_header.html'%}


    <br><br><br><br>
    <center>

    <form action="" method="post">
        <table>
            <tr>
                <th style="font-size: 25px;">Reply:</th>
                <td><input type="text" name="rep" class="form-control"  required=""></td>
            </tr>
            <tr>
                <th><input type="submit" name="send" class="btn btn-danger"></th>
            </tr>
        </table>
    </form>
</center>

<br><br><br><br><br>
    {%include 'footer.html'%}



</body>
</html>