<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {%include 'public_header.html'%}
<!-- Hero Section -->
<section id="hero" class="hero section light-background">

    <img src="static/assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

    <div class="container position-relative">

      <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
        <h2>MediLoc</h2>
        <p>Connecting You to Better Health, Anytime, Anywhere</p>
      </div><!-- End Welcome -->

      <div class="content row gy-4">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
            <h3>Why Mediloc?</h3>
            <p>
              MediLoc simplifies healthcare access by connecting you directly to nearby hospitals and available doctors, helping you find the care you need quickly and efficiently. With real-time appointment booking and secure user data management, MediLoc is designed for convenience and peace of mind. Explore healthcare options effortlessly from your mobile device.
            </p>
            <div class="text-center">
              <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
            </div>
          </div>
        </div><!-- End Why Box -->

        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="d-flex flex-column justify-content-center">
            <div class="row gy-4">

              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                  <i class="bi bi-clipboard-data"></i>
                  <h4>Features</h4>
                  <p>Discover our user-friendly features, like easy appointment management, detailed doctor profiles, and integrated Google Maps navigation. MediLoc also offers secure payment options and personalized reminders to keep you on track with your healthcare journey. Each feature is crafted to make healthcare accessible, reliable, and easy to manage.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                  <i class="bi bi-gem"></i>
                  <h4>Your Healthcare, Just a Click Away</h4>
                  <p>Register with MediLoc, search for hospitals and specialists, book appointments, and stay notified—all in one place. MediLoc is designed to meet your healthcare needs anytime, anywhere, making medical assistance just a click away. Join us in creating a healthier, more connected world.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                  <i class="bi bi-inboxes"></i>
                  <h4>Health at Your Fingertips</h4>
                  <p>Skip the wait and the hassle—MediLoc brings healthcare to you in just a few taps. From locating trusted hospitals to booking appointments instantly, MediLoc empowers you to take control of your health effortlessly. Start your journey to better care, right from your phone.</p>
                </div>
              </div><!-- End Icon Box -->

            </div>
          </div>
        </div>
      </div><!-- End  Content-->

    </div>

  </section><!-- /Hero Section -->

  <!-- About Section -->
  <section id="about" class="about section">

    <div class="container">

      <div class="row gy-4 gx-5">

        <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
          <img src="static/assets/img/about.jpg" class="img-fluid" alt="">
          <a href="#" class="glightbox pulsating-play-btn"></a>
        </div>

        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
          <h3>About Us</h3>
          <p>
            MediLoc was founded with a vision to make healthcare accessible, convenient, and connected. Our platform bridges the gap between patients and healthcare providers, allowing users to easily find, book, and manage medical appointments from their mobile devices. By combining technology with compassionate care, we aim to simplify healthcare journeys and empower individuals to take charge of their well-being. At MediLoc, your health is our priority.
          </p>
          <ul>
            <li>
              <i class="fa-solid fa-vial-circle-check"></i>
              <div>
                <h5>Healthcare Simplified</h5>
                <p>Find doctors, book appointments, and manage your health—all in one app.</p>
              </div>
            </li>
            <li>
              <i class="fa-solid fa-pump-medical"></i>
              <div>
                <h5>Connecting You To Care</h5>
                <p>Access trusted hospitals and professionals near you, anytime you need.</p>
              </div>
            </li>
            <li>
              <i class="fa-solid fa-heart-circle-xmark"></i>
              <div>
                <h5>Your Health,Your Control</h5>
                <p>Take charge of your healthcare journey with easy, on-the-go tools.</p>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </section><!-- /About Section -->

  <!-- Stats Section -->
  <section id="stats" class="stats section light-background">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fa-solid fa-user-doctor"></i>
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
            <p>Doctors</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fa-regular fa-hospital"></i>
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
            <p>Departments</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fas fa-flask"></i>
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
            <p>Research Labs</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fas fa-award"></i>
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
            <p>Awards</p>
          </div>
        </div><!-- End Stats Item -->

      </div>

    </div>

  </section><!-- /Stats Section -->


    {%include 'footer.html'%}

    
</body>
</html>